<template>
  <ion-page>
    <ion-header>
      <ion-toolbar class="toolbar-md-primary">
        <ion-title>Videos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="content">
      <ion-list>
        <ion-item v-for="item in videos" :key="item.id">
          <ion-thumbnail slot="start">
            <ion-img :src="item.image"></ion-img>
          </ion-thumbnail>
          <ion-label>{{item.title}}</ion-label>
          <ion-button color="primary" v-on:click="download(item)">Download</ion-button>
          <ion-button color="danger" v-on:click="deleteFile()">Delete</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  addToDownloadQueue,
  fileWrite,
  fileRead,
  fileDelete
} from "../fileSystemHelper";
export default {
  data() {
    return {
      videos: [
        {
          id: 1,
          url:
            "https://projectskinmd.com/wp-content/uploads/project-skin/fullscreen/large/1317158452.mp4",
          image:
            "https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2016/09/Blog_Free-portfolio-templates.jpg",
          title: "New Protfolio"
        },
        {
          id: 2,
          url:
            "https://projectskinmd.com/wp-content/uploads/project-skin/fullscreen/large/1317158452.mp4",
          image:
            "https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2016/09/Blog_Free-portfolio-templates.jpg",
          title: "New Protfolio"
        },
        {
          id: 3,
          url:
            "https://projectskinmd.com/wp-content/uploads/project-skin/fullscreen/large/1317158452.mp4",
          image:
            "https://s3.amazonaws.com/media.skillcrush.com/skillcrush/wp-content/uploads/2016/09/Blog_Free-portfolio-templates.jpg",
          title: "New Protfolio"
        }
      ]
    };
  },
  methods: {
    download: function(item) {
      // fileWrite();
      // fileRead();
      addToDownloadQueue(item);
      // fileRead();
    },
    deleteFile: () => {
      fileDelete();
    }
  }
};
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.content {
  height: 100vh;
}
</style>
